use Mix.Config

# Configure your database
config :moola, Moola.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "moola_dev",
  hostname: "localhost",
  pool_size: 10
  
# Load GDAX and Coinbase API keys from shell variables. See: .env
# Alternatively you can set them here.

# GDAX API credentials
config :ex_gdax, api_key:        System.get_env("GDAX_API_KEY"),
                 api_secret:     System.get_env("GDAX_API_SECRET"),
                 api_passphrase: System.get_env("GDAX_API_PASSPHRASE")

# Coinbase API credentials
config :coinbase_ex,  api_key:        System.get_env("COINBASE_API_KEY"),
                      api_secret:     System.get_env("COINBASE_API_SECRET"),
                      api_url:        "https://api.coinbase.com",
                      version:        "2017-10-01"

# Set the auto-buy parameters:
config :moola, Moola.DollarBuyer,
  auto_start: false,
  buy_targets: ["eth-usd": 25.0, "btc-usd": 25.0, "bch-usd": 13.37],
  buy_period_seconds: 150,
  min_usd_balance: 100.00
