use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).

config :moola, MoolaWeb.Endpoint,
  secret_key_base: "FJHT54ql9HASaOdmav8F2LHa3KdwOPvkmvn4I5PB89u4/k43OO6AKGoio/CrLhDu"

# Configure your database
config :moola, Moola.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "moola-prod",
  hostname: "moola-db",
  pool_size: 15

# Load GDAX and Coinbase API keys from shell variables. See: .env
# Alternatively you can set them here.

# For prod, we hardcode keys into secret file!

# GDAX API credentials
config :ex_gdax, api_key:        "GDAX_API_KEY",
                 api_secret:     "GDAX_API_SECRET",
                 api_passphrase: "GDAX_API_PASSPHRASE"

# Coinbase API credentials
config :coinbase_ex,  api_key:        "COINBASE_API_KEY",
                      api_secret:     "COINBASE_API_SECRET",
                      api_url:        "https://api.coinbase.com",
                      version:        "2017-10-01"

# Set the auto-buy parameters:
config :moola, Moola.DollarBuyer,
  auto_start: true,
  buy_targets: ["eth-usd": 25.0, "btc-usd": 25.0, "bch-usd": 13.37],
  buy_period_seconds: 150,
  min_usd_balance: 100.00

config :moola, Moola.DollarSeller,
  auto_start: false,
  sell_targets: ["eth-usd": 0.0, "btc-usd": 0.0, "bch-usd": 0.0],
  sell_period_seconds: 150,
  max_usd_balance: 1000000.00

