use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :moola, MoolaWeb.Endpoint,
  secret_key_base: "FJHT54ql9HASaOdmav8F2LHa3KdwOPvkmvn4I5PB89u4/k43OO6AKGoio/CrLhDu"

# Configure your database
config :moola, Moola.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "moola-prod",
  hostname: "moola-db",
  pool_size: 15

config :moola, Moola.DollarBuyer,
  enabled: true,
  buy_targets: ["eth-usd": 25.0, "btc-usd": 25.0, "bch-usd": 13.37],
  buy_period_seconds: 150,
  min_usd_balance: 100.00
